<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>Teaser project</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript"
    src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <style>
    body {padding-top:60px;}
    #searchbox {margin-left:30%;}
    #results
  </style>
  <body>
    <div id="searchbox"><form id="searchform">Key words for product: <input id="searchinput" type="text" name="search"></input></form>
    </div>
    <script type="text/javascript" src="static/main.js"></script>
    <div id="results"></div>
  </body>
</html>
{% endautoescape %}
